.Spreadsheet {
  --background-color: #1e2337 !important;
  border-radius: 1rem;
}

.Spreadsheet__table {
  width: 100%;
  background-color: var(--content-field-color);
  border-radius: 1rem;
  > tbody > tr {
    &:first-child {
      > th {
        &:first-child {
          border-top-left-radius: 1rem;
        }
        &:last-child {
          border-top-right-radius: 1rem;
        }
      }
    }
    &:last-child {
      > th {
        &:first-child {
          border-bottom-left-radius: 1rem;
        }
        &:last-child {
          border-bottom-right-radius: 1rem;
        }
      }
    }
  }
}

.Spreadsheet__header {
  border-width: 2px;
  --border-color: #12172c;
}

.Spreadsheet__cell {
  border-width: 2px;
  --border-color: #12172c;
}

.Spreadsheet__cell--readonly {
  --readonly-text-color: #fff;
}
